@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #1F1514 url(assets/fundo.png) repeat-x;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Remove rolagem */
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #00000019;
    border: 1px solid #cccccc0e;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Para restringir a largura */
    max-height: 100vh; /* Para limitar a altura */
    overflow: hidden; /* Evita overflow */
    margin: 0 auto; /* Centraliza horizontalmente */
}


#imagem {
    background-image: url("assets/forca.png");
    width: 200px; /* Ajuste menor */
    height: 280px;
    background-repeat: no-repeat;
    background-size: contain; /* Garante que a imagem se ajuste */
}

#palavra-secreta { 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    font-size: 1em; 
    margin-top: 30px; 
}

.letras {
    width: 16px;
    text-align: center;
    border-bottom: 2px solid #54121E;
    color: #ffffff;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.letrasEspaco {
    width: 16px;
    text-align: center;
    color: #ffffff;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

#teclado {
    margin-top: 30px;
}

.teclas button {
    width: 80px;
    height: 30px;
    margin: 2px;
    font-size: 0.8em; 
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 8px dimgray;
    border-radius: 5px;
    border: 1px solid dimgrey;  
    color: #54121E;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
}

.teclas button:disabled {
    cursor: not-allowed;
}

.teclas button:hover {
    transform: scale(1.3);
}

#categoria {
    margin-top: 30px;
    color: #54121E;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}


@-webkit-keyframes animacao {
    from { top: -300px; opacity: 0; }
    to { top: 0; opacity: 1; }
}

@keyframes animacao {
    from { top: -300px; opacity: 0; }
    to { top: 0; opacity: 1; }
}

#abreModalAddPalavra, #recarregar, #jogarNovamente {
    position: fixed;
    width: 70px;
    height: 70px;
    border: none;
    outline: none;
    border-radius: 70px;
    font-size: 3em;
    background-color: transparent;
    color: #54121E;
    cursor: pointer;
}

#recarregar {
    bottom: 80px;
    right: 5px;
}

#jogarAutomatico {
    bottom: 5px;
    right: 5px;
}

#status {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

#jogarNovamente {
    display: none;
    bottom: 15px;
    right: 30px;
    transform: rotate(-90deg);
    transform-origin: left top 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

#confetes-gif {
    height: 100vh;
}

/*#region MEDIA QUERY*/
@media (min-width: 321px) {
    .teclas button {
        width: 25px;
        height: 25px;
    }
    #categoria {
        font-size: 1.3em;
    }
}

@media (min-width: 376px) {
    .teclas button {
        width: 30px;
        height: 30px;
    }
    #palavra-secreta {
        font-size: 1.3em;
    }
    .letras {
        width: 18px;
    }

    #categoria {
        font-size: 1.5em;
    }
}

@media (min-width: 426px) {
    .teclas button {
        width: 36px;
        height: 36px;
    }
    #palavra-secreta {
        font-size: 1.5em;
    }
    .letras {
        width: 20px;
    }

    #categoria {
        font-size: 1.6em;
    }
}

@media (min-width: 769px) {
    .teclas button {
        width: 68px;
        height: 68px;
        font-size: 2em;
    }
    #palavra-secreta {
        font-size: 2.5em;
    }
    .letras {
        width: 35px;
    }

    #categoria {
        font-size: 2em;
    }

    .modal-add-palavra {
        width: 80%;
    }
}

@media (min-width: 1025px) {
    .modal-add-palavra {
        width: 50%;
    }
}
/*#endregion*/

.intro-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.intro-image img {
    max-width: 100%;
    max-height: 100%;
}